<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>

    <%= link_to like_text, like_post_path(@post) %> |
    <%= link_to "Edit this comment", edit_comment_path(@comment) %> |
    <%= link_to "Back to comments", comments_path %>

    <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>