<div class="themeTitle">
    <%= image_tag @theme.cover %>
    <h1> <%= @theme.name %></h1>
    <p> <%= @theme.description %> </p>
</div>

<div class="themePodcastsList">
    <% if @podcasts.any? %>
    <% @podcasts.each do |podcast| %>
    <div class="themePodcast">
        <%= link_to podcast.name, podcast_path(podcast) %>
        <p><%= podcast.description %></p>
        <% end %>
    </div>
    <% else %>
    <p>Пока нет подкастов с этой темой.</p>
    <% end %>
</div>