<h1> <%= author.name %> </h1>


<p>
    <strong>Description:</strong>
    <%= author.description %>
</p>


<div>
    <%= link_to "Edit this author", edit_author_path(@author) %> |
    <%= link_to "Back to authors", authors_path %>

    <%= button_to "Destroy this author", @author, method: :delete %>
</div>