<div class="Menu">
    <% if user_signed_in? && !current_user.admin %>
    <%= link_to "Главная", root_url%>
    <%= link_to "Рекомендации", recommendation_path%>
    <div class="MainButton">
        <%= link_to "Написать рецензию", new_admin_post_path%>
    </div>
    <div class="MainButton">
        <%= link_to "Профиль", my_profile_path%>
    </div>

    <%elsif user_signed_in? && current_user.admin? %>
    <%= link_to "Главная", root_url%>
    <%= link_to "Рекомендации", recommendation_path%>
    <%= link_to "О проекте", about_us_index_url%>
    <div class="MainButton">
        <%= link_to "Написать рецензию", new_admin_post_path%>
    </div>
    <div class="MainButton">
        <%= link_to "Профиль", my_profile_path%>
    </div>

    <%else%>
    <%= link_to "Главная", root_url%>
    <%= link_to "О проекте", about_us_index_url%>
    <div class="SecondaryButton">
        <%= link_to "Регистрация", new_user_session_path%>
    </div>
    <div class="MainButton">
        <%= link_to "Войти", new_user_session_path%>
    </div>
    <%end%>
</div>

<p style="color: red"> <%= alert %> </p>