<div class="postCard">
    <div class="postTitle">
        <%= image_tag post.user.profile.avatar, alt: post.user.profile.name, class: "ProfileAvatarImage" if post.user.profile.avatar.present? %>
        <div class="postTitleName">
            <h3><%=  post.user.profile.name %></h3>
            <p> знаток подкастов <%=  post.user.profile.level %> уровня </p>
        </div>
        <div class="postTitlePodcast">
            <p> подкаст </p>
            <div class="placeForCount small">
                <p> <%=  post.issue.podcast.name %> </p>
            </div>
        </div>
        <h1> <%= post.title %> </h1>
    </div>
    <div class="postRating">
    </div>
    <div class="postBody">
        <p> <%=  post.content %> </p>
        <p> <%=  post.hashtag %> </p>
        <p> <%=  post.created_at %> </p>
    </div>
    <div class="postInteraction">
    </div>
    <div class="postComments">
    </div>
    <div class="postComments">
        <h4>Комментарии:</h4>
        <ul>
            <% post.comments.not_replies.each do |comment| %>
            <li class="commentCard">
                <div class="commentHeader">
                    <p><strong><%= comment.user.profile.name %>:</strong></p>
                </div>
                <p><%= comment.content %></p>
                <%= render partial: "comments/replies", locals: { comment: comment } %>
            </li>
            <% end %>
        </ul>
    </div>
</div>