<%= form_with(model: [:admin, @podcast]) do |form| %>
<div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
</div>

<div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
</div>
<div>
    <%= form.label :authors %>
    <%= form.collection_check_boxes :author_ids, Author.all, :id, :name %>
</div>
<div>
    <%= form.submit %>
</div>
<% end %>