<%= link_to "<- Back to podcasts", admin_podcasts_path %>

<%= render @podcast %>

<div class="podcastEditing">
    <%= link_to "Edit this podcast", edit_admin_podcast_path(@podcast) %>
</div>
<div class="podcastThemes">
    <h2>Теги</h2>
    <% if @podcast.themes.any? %>
    <ul>
        <% @podcast.themes.each do |theme| %>
        <li><%= theme.name %></li>
        <% end %>
    </ul>
    <% else %>
    <p>Этот подкаст пока не имеет тегов.</p>
    <% end %>
</div>
<div class="podcastsAuthors">
    <% @authors.each do |author| %>
    <%= render author %>
    <% end %>
</div>
<div class="podcastsIssues">
    <h1>Выпуски подкаста</h1>
    <div id="issues" class="allIssuesPage">
        <% @issues.each do |issue| %>
        <%= render issue %>
        <% end %>
    </div>
</div>
<h2>Рецензии</h2>
<div id="posts">
    <% if @posts.present? %>
    <% @posts.each do |post| %>
    <%= render post %>
    <% end %>
    <% else %>
    <p>No posts available.</p>
    <% end %>
</div>